html,body{
  height: auto;
  font-family: arial;
  font-weight: bold;
  color: #525252;
  font-size: 14px;
}

body  { 
  background-image: url(../images/bg.png); 
   width:100%;
    height:auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.available{
  color: #228B22;
}
.offline{
  color: #cd040b;
}

i.indication{
  margin: 3px -20px;
}
i.fa.fa-circle.available{
  color: #228B22;
}
i.fa.fa-circle.offline{
  color: #cd040b;
}
i.fa.fa-circle.inuse{
  color: #ffffff;
}

.subpages{
    padding-top: 70px;
}
.carousel,
.item,
.active {
    height: 100%; 
}   
.carousel-inner {
    height: 100%;
	width:100%;

}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
  
#footer{
  margin: 20px;
  text-align: center;
  font-style:  italic; 
  font-size: 11px;
  font-weight: normal;
}

.testreport{
    color: #fff;
    display: inline-block;
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 12px; 
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    margin-left: 10px;

}
.testreportwar{
  background-color: #c27500; 
}
.testreportfailed{
      background-color: #bd0f0f; 
}
.testreportsuccess{
      background-color: #11b500; 
}
span.testreport{
  margin-top: 5px;
}
.testhead>p.headp{
  padding-left: 3px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 9px;
  width: auto;
}
span.pull-right>img {
    margin-top: -3px;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:active{
color: #cc040b;	
}
.navbar-nav{ 
text-transform:inherit;
font-size: inherit;
font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}
.navbar-nav>li>p {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .nav>li>p {
    position: relative;
    display: block;
    padding: 15px 15px;
  }
  .mainpage{
    padding: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: inherit;
    margin-bottom: -1px;
  }
  .verizonicon{
    padding-top: 12px;
  }
  .subdiv{
    background:rgba(229,229,229,0.6);
    border-radius: 7px; 
    border: 1px solid #adadad 
  }
  .secondcontainer{
    background: rgba(229,229,229,0.6);
    border-radius: 7px; 
    border: 1px solid #adadad;
    margin-top: 20px;
  }
 
.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}
.staussum{
  color: #525252 !important;
  font-weight:bold; 
}
.table>thead>tr>th{
  border-bottom: 0px;
} 
.quote-box{
      background-image: url(../images/box1.png);  
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #cdcdcd; 
    padding: 10px 0px;
}
 .below-box{ 
   background-image: url(../images/box1.png);  
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; 
     margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #cdcdcd; 
    padding: 10px 0px;
}
.activetab{ 
   background-image: url(../images/highlight.png);  
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; 
}
label.radio:hover,label.checkbox:hover{
 background-image: url(../images/highlight.png);  
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
 .quotation-mark{
  color: #cd040b;
  padding: 0px 8px;
  font-size: 16px;
 }
 .quotation-mark2{
  color: #cd040b;
  padding: 0px 8px;
font-size: 16px;
 }
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 0px;
 }
 
 .testhead>p{
  padding-left: 8px; 
  margin-top: 8px;
 }
tbody.scroller.testsum>tr>td.col-xs-8>p{
  padding-left: 8px;
  margin-top: 9px;
 }
 tbody.scroller.testsum>tr>td.col-xs-8{
  border-right: 1px solid #ddd;
  font-size: 12px;
 }
 
 input[type=checkbox], input[type=radio]{
      margin: 4px 0 0; 
    line-height: normal;
}
 hr{
  margin: 0px; 
  border-top: 1px solid #ddd;
 }
 
.quote-text{
   height: 228px;
        overflow-y: auto;
}
.runquote{
  background-image: inherit;
      text-align: -webkit-center;
    margin-top: 50%;
    border: 0px;
}
 
.subhead>.pull-right{
padding-right:44px;
}
.subhead{
  background: #cdcdcd;
}
 
.checkbox, .radio{
      position: relative;
    display: block;
    padding: 6px 30px; 
      margin-top: 0px;
    margin-bottom: 0px; 
     cursor: pointer; 

}
input:checked :parent { 
   background-image: url(../images/highlight.png);  
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; 
}

.activeitems{
  background: rgba(0,0,0,0.08);
}
input[type=radio]:checked< div.radio { background: #cdcdcd; }
 .panel{
  border: none;
  background: none;
 }
.table-fixed tbody {
  height: 264px;
  overflow-y: auto;
  width: 100%;
}
 


.testhead{
  background: #dfdfdf;
  font-size: 14px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.runbutton{
  cursor: pointer; 
}
.runbutton:hover{
content: url('../images/run-hover.png');
}
.runbutton:active {
   content: url('../images/run-press.png');
}
@media only screen and (max-width: 769px) {
   .runquote{
  background-image: inherit;
      text-align: -webkit-center;
    margin-top: 0%;
}
.subhead>.pull-right{
padding-right:29px;
}
}
@media only screen and (min-width: 769px) {
    /* For desktop: */
   .runquote{
  background-image: inherit;
      text-align: -webkit-center;
    margin-top: 50%;
    border: 0px;
}
}