{% extends "app/shell.html" %}
{% load staticfiles%}

{% block body %}   
  <style>
  .bgcontainer {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom:100px;
  }
  </style>

  <div class="bgcontainer" style="margin-top: 10px;">
      <div class="col-md-12 text-center">
          <h1>Under Construction</h1>
          <br />
      </div>
      <div class="col-md-12 text-center">
          <h2>The page will be live soon</h2>
          <br />
      </div>
  </div>
{% endblock %}
