{% extends "app/shell.html" %}
{% load staticfiles%}

{% block body %} 
    <script src="{% static 'app/scripts/jquery.input-ip-address-control-1.0.min.js' %}"></script>
    <div class="panel panel-primary device">
        <div class="panel-heading device-heading">
            <h3 class="device-title">Add Device</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="col-md-12 col-sm-12">
                    <p>
                        <label for="device-id">Device ID (MAC ID)</label>
                        <input type="text" class="form-control input-sm" id="device-id" placeholder="Device ID">
                    </p>
                    <p>
                        <label for="device-serial-id">Device Serial ID</label>
                        <input type="text" class="form-control input-sm" id="text" placeholder="Device Serial ID">
                    </p>
                    <p>
                        <label for="type">Type</label>  
                        <select class="form-control input-sm" id="type">
                            <option>-- Type --</option>
                            <option>VM</option>
                            <option>IPC</option>
                            <option>MKB</option>
                        </select>
                    </p>
        
                    
                    <script>
                        $(function(){
                            $('#ipv4').ipAddress();
                            $('#ipv6').ipAddress({v:6});
                        });

                        //mask input type text (ipv4) : ___.___.___.___
                        //mask input type text (ipv6) : ____:____:____:____:____:____:____:____
                    </script>
                    <p>
                        <label for="ip">IP Address</label>
                        <input type="text" class="form-control input-sm" name="ip" id="ipv4">
                        <!--<input type="text" name="ipv" id="ipv6">-->
                    </p>
                    <p>
                        <label for="device-name">Device Name</label>
                        <input type="text" class="form-control input-sm" id="device-name" placeholder="Device Name">
                    </p>
                    <p>
                        <div>
                            <input type='button' class="btn btn-primary center-block" value="Submit" id="submit"/>
                        </div>
                    </p>
                </div>
        
            </form>
        </div>
    </div>
{% endblock %}